/* ------------------------------- variables ------------------------------- */

:root {
    /* main colors */
    --yellow: #FCB72B;
    --dark-navy: #495567;
    --dim-grey: #939CAA;
    --light-grey: #E5ECF4;
    --snow: #F2F5F9;
    --light-yellow: #FFF4DF;

    /* text color */
    --body-text-color: var(--dim-grey);
    --heading-text-color: var(--dark-navy);

    /* padding and margins */
    --main-side-padding: 165px;
    --btn-padding: 14px 40px;

    --max-width: 1440px;
}


/* ------------------------------- reusable classes ------------------------------- */

.btn {
    background-color: var(--yellow);
    padding: var(--btn-padding);
    color: white;
    width: max-content;
}

.p-vertical-spacing {
    padding-top: 40px;
    padding-bottom: 40px;
}

.h3-vertical-spacing {
    padding: 40px 0 27px;
}

.bg-circle-img {
    border-radius: 50%;
}

/* ------------------------------- base style ------------------------------- */

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--body-text-color);

    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--dim-grey);
}


/* ------------------------------- header ------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.375rem var(--main-side-padding);
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 65px;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 2rem;
}


/* ------------------------------- hero sect ------------------------------- */

.hero {
    background-image: url(../assets/images/home-hero-desktop.jpg);
    height: 650px;
    background-position: right top;
    background-size: cover;
    padding: 152px var(--main-side-padding);
}

.inner-hero {
    max-width: calc(var(--max-width) - (var(--main-side-padding) * 2));
    margin: 0 auto;
}

h1 {
    font-family: 'Space Mono', sans-serif;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: white;
}

.hero p {
    color: white;
}

.hero .graphic-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero .content-block {
    width: 500px;
}


/* ------------------------------- process sect ------------------------------- */

.process {
    padding: 160px var(--main-side-padding) 200px;
}


/* ------------------------------- steps sect ------------------------------- */

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

h3 {
    font-size: 24px;
    font-family: 'Space Mono', sans-serif;
    color: var(--dark-navy);
}


/* ------------------------------- telemetry sect ------------------------------- */

.telemetry {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.5px;
    font-family: 'Space Mono', sans-serif;
    color: var(--dark-navy);
}

.telemetry .content-block {
    width: 445px;
}