/* ------------------------------- variables ------------------------------- */

:root {
    /* main colors */
    --yellow: #FCB72B;
    --dark-navy: #495567;
    --dim-grey: #939CAA;
    --light-grey: #E5ECF4;
    --snow: #F2F5F9;
    --light-yellow: #FFF4DF;

    /* text color */
    --body-text-color: var(--dim-grey);
    --heading-text-color: var(--dark-navy);

    /* padding and margins */
    --main-side-padding: 10vw;
    --btn-padding: 14px 40px;

    --max-width: 1440px;
}


/* ------------------------------- reusable classes ------------------------------- */

.btn {
    background-color: var(--yellow);
    padding: var(--btn-padding);
    color: white;
    width: max-content;
    font-family: 'Space Mono', sans-serif;
    transition: .35s ease;
}

.btn:hover {
    background-color: unset;
    outline: 3px solid var(--yellow);
    color: var(--yellow);
}

.p-vertical-spacing {
    padding-top: 40px;
    padding-bottom: 40px;
}

.h3-vertical-spacing {
    padding: 40px 0 27px;
}

.bg-circle-img {
    border-radius: 50%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}


/* ------------------------------- shared styles ------------------------------- */

.telemetry .content-block,
.city .content-block,
.payments .content-block {
    width: 445px;
}

.telemetry .content-block,
.payments .content-block {
    margin-right: 30px;
}

.inner-hero,
.inner-sign-up,
.steps,
.telemetry,
.city,
.payments {
    max-width: calc(var(--max-width) - (var(--main-side-padding) * 2));
    margin-left: auto;
    margin-right: auto;
}

.inner-footer,
header {
    display: flex;
    justify-content: space-between;
    padding: 1.375rem var(--main-side-padding);
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}



/* ------------------------------- base style ------------------------------- */

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--body-text-color);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--dim-grey);
}


/* ------------------------------- header ------------------------------- */

nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 65px;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 2rem;
}

.hamburger {
    display: none;
}

/* ------------------------------- hero sect ------------------------------- */



.hero {
    background-image: url(../assets/images/home-hero-desktop.jpg);
    background-position: right top;
    background-size: cover;
    padding: 152px var(--main-side-padding);
    position: relative;
    overflow-x: hidden;
    height: 650px;
}

.inner-hero {
    display: flex;
}

h1 {
    font-family: 'Space Mono', sans-serif;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: white;
}

.hero p {
    color: white;
}

.hero .content-block {
    width: 500px;
}

.hero p {
    padding-left: 95px;
}

.hero .btn {
    margin-left: 95px;
}

.hero .right-arrow {
 
    margin-left: 20px;
    transform: translateY(183px);
}

.hero .line {
    position: absolute;
    left: 0;
    top: 336px;
}

.hero .white-circles {
    position: absolute;
    right: -40px;
    bottom: 177px;
}


/* ------------------------------- process sect ------------------------------- */

.process {
    padding: 160px var(--main-side-padding) 200px;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}



/* ------------------------------- steps sect ------------------------------- */

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 200px;
    
    position: relative;
}

h3 {
    font-size: 24px;
    font-family: 'Space Mono', sans-serif;
    color: var(--dark-navy);
    letter-spacing: -1.07px;
}

.vertical-blue-line {
    display: none;

    width: 15px;
    height: 90%;
    position: absolute;
    z-index: -1;
    left: 40px;
    top: 0;
    background-color: var(--light-grey);
}

.blue-line {
    height: 15px;
    background-color: var(--light-grey);
    position: absolute;

    top: 40px;
    left: calc(var(--main-side-padding) * -1);
    width: 89%;
    max-width: 960px;
    z-index: -1;
}

/* ------------------------------- telemetry sect ------------------------------- */

.telemetry {
    position: relative;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.5px;
    font-family: 'Space Mono', sans-serif;
    color: var(--dark-navy);
}

.telemetry .left-downward-arrow {
    position: absolute;
    right: -177px;
    bottom: 0;
}

.telemetry .blue-circle {
    position: absolute;
    right: -520px;
}


/* ------------------------------- city sect ------------------------------- */

.city {
    position: relative;
}

.city .bg-circle-img {
    order: -1;
    margin-right: 30px;
}

.city .blue-circle {
    left: -510px;
    position: absolute;
}

.city .right-arrow {
    position: absolute;
    left: -145px;
    top: 0;
}

/* ------------------------------- payments sect ------------------------------- */

.payments {
    position: relative;
}

.payments.flex-container {
    margin-bottom: 0;
}

.payments .blue-circle {
    position: absolute;
    right: -500px;
    z-index: -1;
}

.payments .left-downward-arrow {
    position: absolute;
    right: -554px;
    top: 90px;
}

/* ------------------------------- sign-up sect ------------------------------- */

.sign-up {
    background-color: var(--dark-navy);
    padding: 102px var(--main-side-padding);

    position: relative;
    overflow-x: hidden;
}

.inner-sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up h2 {
    color: white;
    width: 415px;
}

.products img:nth-of-type(1) {
    margin-right: 15px;
}

.semi-circle {
    position: absolute;
    bottom: 0;
    right: -180px;
}

/* ------------------------------- footer sect ------------------------------- */

footer {
    background-color: #333A44;
}

footer .logo {
    color: white;
}

.footer-nav {
    display: flex;
    align-items: center;
}

.social-media img {
    margin-left: 25px;
}


/* ------------------------------- @media ------------------------------- */

@media(max-width: 1400px) {

    .hero {
        padding-top: 125px;
    }

    .hero p {
        padding-left: unset;
    }

    .hero .btn {
        margin: 0 auto;
    }

    .hero .line {
        display: none;
    }

    .hero .right-arrow {
        margin-left: unset;
        margin-top: 30px;
        transform: unset;
        position: absolute;
        left: 0;
    }

    .hero .white-circles {
        /* display: none; */
        bottom: 116px;
    }

    .inner-hero {
        display: unset;
    }

    .hero .content-block {
        text-align: center;
        width: unset;
    }

}

@media(max-width: 1200px) {

    .about-pg .left-downward-arrow {
        right: -380px;
    }

}

@media(max-width: 980px) {

    /* :root {
        --main-side-padding: 6vw;
    } */

    .blue-line {
        display: none;
    }

    .vertical-blue-line {
        display: block;
    }

    .about-pg .telemetry .left-downward-arrow {
        right: -64px;
        top: 250px;
    }

    .sign-up {
        padding-top: 62px;
        padding-bottom: 62px;
    }

    .sign-up h2 {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .inner-sign-up {
        display: unset;
        text-align: center;
    }

    .social-media img {
        margin-left: 15px;
    }

    .nav-list li {
        margin-right: 1rem;
    }


    .logo {
        margin-right: 45px;
    }

    .payments .content-block,
    .telemetry .content-block {
        text-align: center;
        margin-right: unset;
        margin-top: 65px;
    }

    .payments .btn,
    .city .btn,
    .telemetry .btn {
        margin: 0 auto;
    }

    .payments.flex-container,
    .telemetry.flex-container {
        flex-direction: column-reverse;
    }    

    .payments .left-downward-arrow {
        right: -405px;
    }

    .payments .blue-circle {
        right: -425px;
    }

    .city.flex-container {
        flex-direction: column;
    }

    .city .content-block {
        text-align: center;
        margin-top: 65px;
    }

    .city .blue-circle {
        left: -425px;
    }

    .city .bg-circle-img {
        margin-right: 0;
    }

    .telemetry .left-downward-arrow {
        top: 293px;
    }

    .telemetry .blue-circle {
        right: -425px;
    }

    .steps {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .card {
        display: flex;
    }

    .icon {
        align-self: flex-start;
        margin-right: 45px;
        min-width: 96px;
    }

    .h3-vertical-spacing {
        padding: 0 0 25px;
    }

    .text-grp {
        max-width: 520px;

        margin: 0 auto;
    }

    .inner-hero .right-arrow {
        left: -150px;
    }
}



@media(max-width: 768px) {

    /* ---------------- base ---------------- */

    h2 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
    }

    .telemetry .content-block,
    .city .content-block,
    .payments .content-block,
    .sign-up h2 {
        width: auto;
    }

    .flex-container {
        margin-bottom: 120px;
    }

    /* ---------------- header ---------------- */

    .hamburger,
    .close {
        display: block;
        position: absolute;
        left: var(--main-side-padding);
    }

    .nav-list {
        display: none;
    }

    header .btn {
        display: none;
    }

    .logo {
        margin-right: 0;
    }

    header nav {
        margin: 0 auto;
    }
    

    /* ---------------- hero ---------------- */

    .hero .white-circles {
        display: none;
    }

    .hero {
        padding-top: 115px;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.5px;
    }

    .hero .p-vertical-spacing {
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .hero .right-arrow {
        left: -307px;
        margin-top: 0;
    }


    /* ---------------- process ---------------- */

    .process {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .process .card {
        display: unset;
        text-align: center;
    }

    .process .icon {
        margin-right: 0;
        margin-bottom: 25px;
        height: 60px;
    }
    .process .steps {
        margin-bottom: 120px;
    }

    .vertical-blue-line {
        display: none;
    }

    .icon {
        min-width: unset;
    }

    /* ---------------- telemetry ---------------- */

    .telemetry .left-downward-arrow {
        right: -411px;
        top: 179px;
    }

    .about-pg .telemetry .left-downward-arrow {
        right: -411px;
        top: 150px;
    }

    /* ---------------- city ---------------- */

    .city .right-arrow {
        left: -200px;
        
    }


    /* ---------------- payments ---------------- */

    .payments .left-downward-arrow {
        right: -550px;
        top: 0;
    }


    /* ---------------- sign-up ---------------- */

    .products img {
        height: 40px;
    }

    .products img:nth-of-type(1) {
        margin-right: 10px;
    }

    /* ---------------- footer ---------------- */

    footer .nav-list {
        display: block;
        margin-bottom: 60px;
    }

    footer .nav-list li {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .inner-footer,
    .footer-nav {
        flex-direction: column;
    }

    footer .nav-list {
        text-align: center;
    }
    
    .social-media img {
        margin-left: 0;
    }

    .social-media img:nth-of-type(2) {
       margin: 0 1rem;
    }

    footer .logo {
        margin-bottom: 25px;
    }

    .inner-footer {
        padding-top: 64px;
        padding-bottom: 88px;
    }

}









 /* ------------------------------------------- about pg ------------------------------------------- */


/* ---------------- hero sect ---------------- */

.about-pg .hero {
    background-image: url(../assets/images/about-hero-desktop.jpg);
    background-position: left top;
    height: unset;
    padding-top: 72px;
    padding-bottom: 72px;
}

.about-pg .white-circles {
    top: 50%;
    transform: translateY(-50%);
}

.about-pg .left-downward-arrow {
    bottom: 30px;
}


/* ---------------- our values ---------------- */


.md-circle-img {
    border-radius: 50%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.our-values .card {
    padding-top: 30px;
}

.our-values h2 {
    text-align: center;
    margin-bottom: 60px;
}

.our-values .card {
    text-align: center;
}

.yellow-circle {
    background-color: var(--yellow);
    border-radius: 50%;
    height: 96px;
    width: 96px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.number {
    color: var(--dark-navy);
    font-size: 24px;
    line-height: 24px;
    font-family: 'Space Mono', sans-serif;
}

.img-wrapper {
    position: relative;
    margin-bottom: 80px;
}

.our-values h3 {
    margin-bottom: 25px;
}


    @media(max-width: 980px) {

        .cards {
            grid-template-columns: 1fr;
            max-width: 445px;
            margin: 0 auto;
        }
        .our-values .card {
            flex-direction: column;
        }
        
    }



/* ---------------- FAQs ---------------- */

.faqs {
    margin-top: 120px;
}

.faqs p {
    color: var(--dark-navy);
}

.faqs h2 {
    text-align: center;
    margin-bottom: 64px;
}

.faqs h3 {
    line-height: 24px;
}

.secondary-h2 {
    font-size: 40px;
    line-height: 40px;
    text-align: unset;
}

.hidden p {
    display: none;
}

.hidden .drop-down {
    margin-bottom: 0;
}

.sub-section {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 30px;
}

.sub-section:nth-of-type(1) {
    margin-bottom: 64px;
}

.drop-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.drop-down svg {
    min-width: 18px;
    margin-left: 15px;
}

.question {
    background-color: var(--snow);
    padding: 32px 40px;
    margin-bottom: 16px;
    transition: background-color .2s ease-in;
}

.question:hover {
    background-color: var(--light-yellow);
}

.chevron {
    padding: 8px;
    margin-right: -8px;
}


.chevron.up {
    transform: rotate(180deg);
}


@media(max-width: 980px) {

    .sub-section {
        grid-template-columns: 1fr;
        gap: unset;
    }

    .faqs .secondary-h2 {
        margin-bottom: 32px;
    }
}

@media(max-width: 768px) {

    .faqs {
        margin-top: 145px;
    }

    .faqs .secondary-h2 {
        font-size: 24px;
    }

    .faqs h3 {
        font-size: 18px;
    }

}




 /* ------------------------------------------- careers pg ------------------------------------------- */


/* ---------------- jobs sect ---------------- */

.job-list {
    margin-top: 120px;
}

.job-list .btn {
    padding: 14px 66px;
}

.job {
    background-color: var(--snow);
    padding: 32px 40px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
}

.job-info p {
    color: var(--dark-navy);
    margin-top: 8px;
}

@media(max-width: 768px) {

    .careers .blue-circle {
        display: none;
    }

    .job {
        flex-direction: column;
        text-align: center;
        align-items: center;

        padding: 36px 32px 32px 32px;
    }

    .job-info p {
        margin-top: 4px;
    }

    .job a,
    .job .btn {
        width: 100%;
    }

    .job-info {
        margin-bottom: 20px;
    }

    .job-list {
        margin-top: 145px;
    }

}







 /* ------------------------------------------- locations pg ------------------------------------------- */



/* ---------------- hero sect ---------------- */

 .locations-pg .hero {
    background-image: url(../assets/images/careers-locations-hero-desktop.jpg);
 }


/* ---------------- map sect ---------------- */

.map-img.mobile {
    display: none;
}

.cities {
    display: none;
}

.map {
    padding: 120px var(--main-side-padding);
    max-width: 1440px;
    margin: 0 auto;
}

.msg-us {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--main-side-padding) 120px;

    display: flex;
}

.not-listed {
    display: flex;
}

.msg-us h2 {
    padding-right: 30px;
    min-width: 326px;
}

.msg-us p {
    max-width: 590px;
    padding-right: 90px;
}

@media(max-width: 1200px) {

    .msg-us {
        flex-direction: column;
        text-align: center;
    }

    .msg-us p {
        padding-right: unset;
        max-width: 800px;
        margin: 40px auto;
    }

    .msg-us .btn {
        margin: 0 auto;
    }

    .not-listed {
        flex-direction: column;
    }
}

@media(max-width: 768px) {

    .map {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .map-img.desktop {
        display: none;
    }

    .map-img.mobile {
        display: block;
        width: 100%;
    }

    .cities {
        display: block;
        margin-top: 40px;
    }

    .cities h3 {
        padding: 22px 0;
        background-color: var(--light-yellow);
        text-align: center;
        margin-bottom: 16px;
    }

    .cities h3:last-child {
        margin-bottom: unset;
    }

    .msg-us {
        padding-bottom: 72px;
    }

}


/* ------------------------------- mobile nav ------------------------------- */

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 73px;
    left: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity .35s ease-in;
    pointer-events: none;
}

.overlay.on {
    opacity: 1;
   
}

.side-menu {
    position: fixed;
    width: 70vw;
    height: calc(100vh - 73px);
    left: -70vw;
    bottom: 0;
    z-index: 200;
    background-color: #333A44;
    padding: 65px 15px 35px var(--main-side-padding);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .35s ease-in .15s;
}

.slide-out {
    left: 0;
}


.side-menu a {
    color: var(--light-grey);
}

.side-menu li {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Space Mono', sans-serif;
}

.hide-icon {
    display: none;
}